

<div class="row">
    <div class="col-md-12">
        {% if __SELF__.page==0 %}
            <button type="submit" disabled class="btn btn-primary mb-2" style="float: left">上一页</button>
            {% if __SELF__.ifDisplayNextPage %}
                <form  data-request="onSearch" data-request-update="'{{ __SELF__ }}::search': '#search'">
                    <input type="hidden" name="page" value="{{ __SELF__.nextPage}}">
                    <input type="hidden" name="search" value="{{ __SELF__.search}}">
                    <input type="hidden" name="pingtai" value="{{ __SELF__.pingTai}}">
                    <button type="submit" class="btn btn-primary mb-2" data-attach-loading data-request-flash style="float: right">下一页</button>
                </form>
            {% endif %}
        {% else %}
            <form  data-request="onSearch" data-request-update="'{{ __SELF__ }}::search': '#search'"  style="float: left">
                <input type="hidden" name="page" value="{{ __SELF__.page}}">
                <input type="hidden" name="search" value="{{ __SELF__.search}}">
                <input type="hidden" name="pingtai" value="{{ __SELF__.pingTai}}">
                <button type="submit" class="btn btn-primary mb-2" data-attach-loading data-request-flash>上一页</button>
            </form>
            {% if __SELF__.ifDisplayNextPage %}
                <form  data-request="onSearch" data-request-update="'{{ __SELF__ }}::search': '#search'" style="float: right">
                    <input type="hidden"  name="page" value="{{ __SELF__.nextPage}}">
                    <input type="hidden" name="search" value="{{ __SELF__.search}}">
                    <input type="hidden" name="pingtai" value="{{ __SELF__.pingTai}}">
                    <button type="submit" class="btn btn-primary mb-2" data-attach-loading data-request-flash>下一页</button>
                </form>
            {% else %}
                <button type="submit" disabled class="btn btn-primary mb-2" data-attach-loading data-request-flash style="float: right">下一页</button>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-dark" style="margin-top: 50px">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">歌曲名字</th>
                <!--<th scope="col">封面图</th>-->
                <th scope="col">演唱者</th>
                <th scope="col">来源</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for key,item in __SELF__.musics %}
            <tr>
                <th scope="row">{{key+1}}</th>
                <td>{{item.name}}</td>
                <!--<td><img src="{{item.cover}}" alt="" style="width: 50px;height: 50px"></td>-->
                <td>{{item.artist}}</td>
                <td>{{item.source}}</td>
                <td>
                    <form class="form-inline" data-request="onAudio" data-request-success="window.open(data.url, '_blank'); ">
                        <input type="hidden" name="id" value="{{item.id}}">
                        <button type="submit" class="btn btn-primary mb-2" data-attach-loading data-request-flash>播放</button>
                        <a href="{{item.url}}" class="btn btn-primary mb-2 ">下载</a>
                        <a  href="{{item.lrc}}" class="btn btn-primary mb-2" target="_blank">歌词下载</a>
                    </form>


                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>





<script>
    var ap = new APlayer({
        container: document.getElementById('aplayer'),
        mini: false,
        autoplay: true,
        theme: '#FADFA3',
        loop: 'all',
        order: 'random',
        preload: 'auto',
        volume: 0.7,
        mutex: true,
        listFolded: false,
        listMaxHeight: 90,
        lrcType: 3,
        audio: {{__SELF__.musics|json_encode()|raw}}
    });
</script>

